<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modGisMeta">

  <select id="selectTop" parameterType="int" resultType="hashmap">
    <choose>

      <!-- 행정구역 -->
      <when test="val == 0">
        SELECT 
          a.si_code AS siCode, 
          a.si_nm AS siNm,
          b.gugun_code AS gugunCode, 
          b.gugun_nm AS gugunNm
        FROM flooddb.tn_si_code a
        JOIN flooddb.tn_gugun_code b ON a.si_code = b.si_code
      </when>

      <!-- 유역 -->
      <when test="val == 1">
        SELECT 
          a.bb_code AS bbCode, 
          a.bb_nm AS bbNm,
          b.mb_code AS mbCode, 
          b.mb_nm AS mbNm
        FROM flooddb.tn_bb_code a
        JOIN flooddb.tn_mb_code b ON a.bb_code = b.bb_code
      </when>

      <!-- 하천 -->
      <when test="val == 2">
        SELECT 
          a.dstrct_code AS dstrctCode, 
          a.dstrct_nm AS dstrctNm,
          b.wrssm_code AS wrssmCode, 
          b.wrssm_nm AS wrssmNm
        FROM flooddb.tn_dstrct_code a
        JOIN flooddb.tn_wrssm_code b ON a.dstrct_code = b.dstrct_code
      </when>

      <otherwise>
        SELECT NULL
      </otherwise>

    </choose>
  </select>

</mapper>